@use "variables" as *;

h1,
h2,
h3,
h4,
p,
.s,
.s-bold,
.xs,
.xs-bold,
.link,
.link-bold,
.xs-link {
  font-family: $font-main;
  letter-spacing: -0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

// Headings
h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;

  @media (min-width: $width-menu-xl) {
    font-size: 64px;
    line-height: 76.8px;
  }
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
}

// Paragraph
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

// Utility
.bold {
  font-weight: 600;
}

.bolder {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;

  @media (min-width: $width-menu-xl) {
    font-size: 32px;
    line-height: 38.4px;
  }
}

.s {
  font-size: 16px;
  line-height: 22.4px;
}

.s-bold {
  font-weight: 600;
  font-size: 16px;
}

.xs {
  font-size: 14px;
}

.xs-bold {
  font-weight: 600;
  font-size: 14px;
}

.link,
.link-bold,
.xs-link {
  text-decoration: underline;
}