@use "abstracts/variables" as *;
@use "abstracts/typography";
@use "abstracts/spacing" as *;
@use "abstracts/breakpoints" as *;
@use "abstracts/mixins" as *;

/////////////////////////////////////////////////
// RESET STYLES
////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
}

/////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////

.header {
  background-color: $primary900;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: $space-3;
  border-bottom: 6px solid $primary600;
}

.logo {
  height: 50px;

  @include respond(sm) {
    height: 60px;
  }
}

.header__right {
  display: flex;
  align-items: center;
  gap: $space-4;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.ring {
  font-size: 18px;
  color: $neutral0;
  cursor: pointer;
}

.chevron {
  font-size: 14px;
  opacity: 0.75;
  color: $neutral0;
  cursor: pointer;
}

/////////////////////////////////////////////////
// WELCOME SECTION
////////////////////////////////////////////////

.welcome-section {
  background-color: $primary950;
  padding: $space-5;
  padding-bottom: 120px;
}

.welcome-section p {
  color: $primary100;
}

.welcome-section__content {
  display: grid;
  gap: $space-5;
}

.title {
  color: $primary100;
  margin-top: $space-4;
}

.welcome-section__text {
  color: $primary100;
}

/* VIDEO */
.video {
  width: 100%;
  max-width: 400px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 10px solid $primary100;
  aspect-ratio: 16 / 9;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.20);
  transition: background 0.2s ease;
}

.video:hover .video__overlay {
  background: rgba(0, 0, 0, 0.35);
}

.video__play {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $neutral0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.video__play:hover {
  transform: scale(1.1);
}

.video__play i {
  color: $primary600;
  font-size: 20px;
}

/* DESKTOPe */
@include respond(md) {
  .welcome-section {
    padding: $space-14;
  }

  .welcome-section__content {
    grid-template-columns: 5fr 7fr;
    align-items: start;
    column-gap: $space-8;
  }

  .title {
    grid-column: 1;
  }

  .welcome-section__text {
    grid-column: 1;
  }

  .video {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: end;
    max-width: none;
    width: 100%;
    margin-top: $space-6;
  }
}


@include respond(xxl) {
  .welcome-section {
    padding: $space-14;
  }

  .welcome-section__content {
    grid-template-columns: 5fr 7fr;
    align-items: start;
    column-gap: $space-8;
  }

  .title {
    grid-column: 1;
  }

  .welcome-section__text {
    grid-column: 1;
  }

  .video {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: end;
    max-width: none;
    width: 80%;
    border: 20px solid $primary100;
    margin-top: 0px;
  }
}

/////////////////////////////////////////////////
// QUIZ SECTION
////////////////////////////////////////////////
/// 
.section-quiz {
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-5;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

/* DESKTOP */
@include respond(md) {
  .section-quiz {
    padding: $space-14;
  }
}

h2 {
  color: $primary900;
  text-align: center;

}

.section-quiz p {
  margin-top: $space-4;
  text-align: center;
  color: $primary900;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: $space-3;
}

button {
  background-color: $secondary300;
  border-radius: 90px 90px 90px 90px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  margin-top: $space-4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $space-4 auto 0 auto;
}

button:hover {
  background-color: $secondary500;
  transition: background-color 0.2s ease;
  transform: scale(1.05);
}

/////////////////////////////////////////////////
// CHALLENGE SECTION
////////////////////////////////////////////////

.section-challenge {
  background-color: $primary600;
  padding: $space-5;
  border-radius: 50px 50px 0 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
}


// BACKGROUND BUBBLE
.section-challenge::before {
  content: "";
  position: absolute;
  width: 350px;
  aspect-ratio: 3 / 2;
  background: url("/public/assets/bubble.svg") no-repeat center;
  background-size: contain;
  opacity: 0.12;
  top: 80px;
  left: -80px;
  z-index: -1;
  pointer-events: none;
}

.section-challenge h2 {
  margin-top: $space-4;
  color: $primary100;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section-cards {
  display: flex;
  flex-direction: column;
  gap: $space-12;
  margin: $space-8 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.card {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $space-4;
  text-align: center;
}

.card:nth-child(odd) {
  align-self: flex-start;
}

.card:nth-child(even) {
  align-self: flex-end;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $neutral0;
  border-radius: 50px;
  display: flex;
  padding: $space-6;
  justify-content: center;
  align-items: center;
}


.card__image:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}

.card:nth-child(odd) .card__image {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card:nth-child(even) .card__image {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.card__image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card p {
  color: $primary100;
  max-width: 420px;
  text-align: left;
  align-self: flex-start;
  padding-left: $space-4;
  margin: 0;
}

@include respond(md) {
  .section-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 260px));
    justify-content: center;
    column-gap: 60px;
    row-gap: $space-6;
  }

  .card {
    width: 100%;
    max-width: 260px;
    align-self: stretch;
    align-items: stretch;
  }

  // Odd = impair, Even = pair
  .card:nth-child(odd) .card__image,
  .card:nth-child(even) .card__image {
    border-radius: 50px;
  }

  .card__image {
    padding: $space-4;
  }

  .card p {
    max-width: none;
    width: 100%;
    padding-left: $space-4;
  }

  .section-challenge::before {
    width: 800px;
    top: 50px;
    left: -200px;
  }
}

@include respond(lg) {
  .section-cards {
    grid-template-columns: repeat(3, 320px);
    column-gap: 100px;
  }

  .card {
    max-width: 320px;
  }

  .card__image {
    padding: $space-5;
  }

  .section-challenge::before {
    width: 1000px;
    top: 40px;
    left: -220px;
  }
}

@include respond(xl) {
  .section-cards {
    grid-template-columns: repeat(3, 260px);
    column-gap: 140px;
  }

  .card {
    max-width: 300px;
  }

}

@include respond(xxl) {
  .section-cards {
    grid-template-columns: repeat(3, 360px);
    column-gap: 200px;
  }

  .card {
    max-width: 360px;
  }

  .card__image {
    padding: $space-6;
  }
}

/////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////
footer {
  background-color: $primary900;
  color: $neutral100;
  display: flex;
  flex-direction: column;
  gap: $space-2;
  align-items: flex-start;  
  justify-content: center;
  height: auto;   
  padding: $space-4;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;        
  position: relative;
  z-index: 10;
}

footer .footer-left,
footer .footer-right {
  width: 100%;
}


@include respond(md) {
  footer {
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: $space-5;
    padding-left: $space-14;
    padding-right: $space-14;
    border-radius: 50px 60px 0 0;
    margin-top: -50px;
  }

  footer .footer-left,
  footer .footer-right {
    width: auto;
  }
}
