@use "abstracts/variables" as *;
@use "abstracts/typography";
@use "abstracts/spacing" as *;
@use "abstracts/breakpoints" as *;
@use "abstracts/mixins" as *;

/////////////////////////////////////////////////
// RESET STYLES
////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
}

/////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////

.header {
  background-color: #165963;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: $space-3;
  border-bottom: 6px solid $primary600;
}

.logo {
  height: 50px;

  @include respond(sm) {
    height: 60px;
  }
}

.header__right {
  display: flex;
  align-items: center;
  gap: $space-4;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.ring {
  font-size: 18px;
  color: $neutral0;
  cursor: pointer;
}

.chevron {
  font-size: 14px;
  opacity: 0.75;
  color: $neutral0;
  cursor: pointer;
}

/////////////////////////////////////////////////
// WELCOME SECTION
////////////////////////////////////////////////

.welcome-section {
  background-color: $primary950;
  padding: $space-5;
}

.welcome-section p {
  color: $primary100;
}

.welcome-section__content {
  display: grid;
  gap: $space-5;
}

.title {
  color: $primary100;
  margin-top: $space-4;
}

.welcome-section__text {
  color: $primary100;
}

/* VIDEO */
.video {
  width: 100%;
  max-width: 400px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 10px solid $primary100;
  aspect-ratio: 16 / 9;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.20);
  transition: background 0.2s ease;
}

.video:hover .video__overlay {
  background: rgba(0, 0, 0, 0.35);
}

.video__play {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $neutral0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.video__play i {
  color: $primary600;
  font-size: 20px;
}

/* DESKTOPe */
@include respond(md) {
  .welcome-section {
    padding: $space-14;
  }

  .welcome-section__content {
    grid-template-columns: 5fr 7fr;
    align-items: start;
    column-gap: $space-8;
  }

  .title {
    grid-column: 1;
  }

  .welcome-section__text {
    grid-column: 1;
  }

  .video {
    grid-column: 2;
    grid-row: 1 / span 2; 
    justify-self: end;
    max-width: none;
    width: 80%;
    border: 20px solid $primary100;
  }
}
